<html>
<head>
<meta charset="ISO-8859-1">
<title>Jobiak#signup</title>
</head>
<body>
          <form action='signup'  method='post' modelAttribute='user'>
          Enter userId:<input type="text" name="userId"><br/>
          Enter full name:<input type="text" name="name"><br/>
          Enter email:<input type="text" name="email"><br/>
          Enter mobile:<input type="text" name="mobile"><br/>
          <input type="submit"value="SignUp">
          <input type="reset" value="clean"><br/>
          </form>
      </h3>
</body>
</html>